#siteWrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 5000px;
  /* Temp: Simulates a tall page. */
}
#siteCanvas {
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -moz-transform: translateZ(0) translateX(0);
  -ms-transform: translateZ(0) translateX(0);
  -o-transform: translateZ(0) translateX(0);
  -webkit-transform: translateZ(0) translateX(0);
  transform: translateZ(0) translateX(0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -moz-transition: 300ms ease all;
  -ms-transition: 300ms ease all;
  -o-transition: 300ms ease all;
  -webkit-transition: 300ms ease all;
  transition: 300ms ease all;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
#siteMenu {
  width: 300px;
  height: 100%;
  position: absolute;
  top: 0;
  left: -300px;
  background: #444;
  padding: 15px;
  color: #fff;
  -moz-transition: 300ms ease all;
  -ms-transition: 300ms ease all;
  -o-transition: 300ms ease all;
  -webkit-transition: 300ms ease all;
  transition: 300ms ease all;
}
.show-nav #siteMenu {
  -moz-transform: translateX(300px);
  -ms-transform: translateX(300px);
  -o-transform: translateX(300px);
  -webkit-transform: translateX(300px);
  transform: translateX(300px);
  -moz-transform: translateZ(0) translateX(300px);
  -ms-transform: translateZ(0) translateX(300px);
  -o-transform: translateZ(0) translateX(300px);
  -webkit-transform: translateZ(0) translateX(300px);
  transform: translateZ(0) translateX(300px);
  -moz-transform: translate3d(300px, 0, 0);
  -ms-transform: translate3d(300px, 0, 0);
  -o-transform: translate3d(300px, 0, 0);
  -webkit-transform: translate3d(300px, 0, 0);
  -moz-transition: 300ms ease all;
  -ms-transition: 300ms ease all;
  -o-transition: 300ms ease all;
  -webkit-transition: 300ms ease all;
  transition: 300ms ease all;
  z-index: 9999;
}
.show-nav .toggle-nav {
  -moz-transform: translateX(300px);
  -ms-transform: translateX(300px);
  -o-transform: translateX(300px);
  -webkit-transform: translateX(300px);
  transform: translateX(300px);
  -moz-transform: translateZ(0) translateX(300px);
  -ms-transform: translateZ(0) translateX(300px);
  -o-transform: translateZ(0) translateX(300px);
  -webkit-transform: translateZ(0) translateX(300px);
  transform: translateZ(0) translateX(300px);
  -moz-transform: translate3d(300px, 0, 0);
  -ms-transform: translate3d(300px, 0, 0);
  -o-transform: translate3d(300px, 0, 0);
  -webkit-transform: translate3d(300px, 0, 0);
  -moz-transition: 300ms ease all;
  -ms-transition: 300ms ease all;
  -o-transition: 300ms ease all;
  -webkit-transition: 300ms ease all;
  transition: 300ms ease all;
  z-index: 99999;
}
#siteWrapper.show-nav #siteCanvas {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
.show-nav #siteCanvas {
  -moz-transform: translateX(300px);
  -ms-transform: translateX(300px);
  -o-transform: translateX(300px);
  -webkit-transform: translateX(300px);
  transform: translateX(300px);
  -moz-transform: translateZ(0) translateX(300px);
  -ms-transform: translateZ(0) translateX(300px);
  -o-transform: translateZ(0) translateX(300px);
  -webkit-transform: translateZ(0) translateX(300px);
  transform: translateZ(0) translateX(300px);
  -moz-transform: translate3d(300px, 0, 0);
  -ms-transform: translate3d(300px, 0, 0);
  -o-transform: translate3d(300px, 0, 0);
  -webkit-transform: translate3d(300px, 0, 0);
  transform: translate3d(300px, 0, 0);
}
/*# sourceMappingURL=layout.css.map */